main {
	width: 100vw;
	height: auto;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(45deg, rgba(255,229,229,.8), rgba(229,255,242,.8), rgba(253,255,229,.8));
	background-size: 600% 600%;
	animation: AnimationName 60s ease infinite;
	}
 
@keyframes AnimationName {
	0%{background-position:0% 50%}
	50%{background-position:100% 50%}
	100%{background-position:0% 50%}
	}

#lineO1,
#lineK2,
#lineA3,
#lineN4,
#lineO5,
#lineM6,
#lineA7,
#lineY8,
#lineU9,
#lineK10,
#lineO11 {    
	stroke:#ccc;
	fill:#333;
	fill-opacity: 0;
	stroke-width:1;
	stroke-dasharray: 3000;
	stroke-dashoffset:3000;
	-webkit-animation: LINE 10s ease-in 0s forwards;
	animation: LINE 10s ease-in 0s forwards;
}
@keyframes LINE{
	0%{stroke-dashoffset:3000;fill-opacity: 0;}
	30% {fill-opacity: 0;}
	35% {fill-opacity: 1;}
	100%{stroke-dashoffset:0;fill-opacity: 1;}
}
@-webkit-keyframes LINE{
	0%{stroke-dashoffset:3000;fill-opacity: 0;}
	30% {fill-opacity: 0;}
	35% {fill-opacity: 1;}
	100%{stroke-dashoffset:0;fill-opacity: 1;}
}

h1 {
	display: none;
}
/*#toplogo path {
	color: #000;
	fill: currentColor;
}*/
#toplogo {
	min-width: 2.3%;
	height: auto;	
}

nav {
	display: flex;
	height: 50px;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	transition: .3s;
}
#navlogo {
	width: 169px;
}
.clone-nav {
  transform: translateY(-100%);
}
.is-show {
  transform: translateY(0);
}
.nav_box{
    display: flex;
    margin: auto; 
    align-items: flex-end;
}


section {
	min-height: 100vh;
	background: pink;
}
article {
	max-width: 970px;
	margin: 0 auto;
	padding: 100px 0;
}
.content_box {
	list-style: none;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.content_item {
	width: 200px;
	height: 200px;
	background: none;
	border: 1px solid #ccc;
	margin: 20px;
}


footer {
	background: #ECEADE;
	text-align: center;
    font-size: 0.6em;
    color: #fff;
    padding: 20px;
}